* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #262626;
    line-height: 1.1;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

#header-logo {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
}

/* Navigation */
#header-logo h1 {
    font-size: 20px;
}

#header {
    display: flex;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #d9d9d9;
}

.left-header {
    display: flex;
    flex: 1;
    height: 100%;
}

.middle-header {
    display: flex;
    flex: 3;
    height: 100%;
}

.right-header {
    display: flex;
    flex: 1;
    height: 100%;
}

.tab-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: pointer;
    border-top: 3px solid #f2f2f2;
    border-bottom: 3px solid #f2f2f2;
    font-size: 15px;
}

.active-tab {
    border-bottom: 3px solid #262626 !important;
}

.not-active-tab {
    border-bottom: 3px solid #f2f2f2 !important;
}

#slide-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60px;
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
}

/* Searchbar */
#searchbar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 60px;
    font-size: 20px;
}

#search-tags-input {
    margin: 0px 0;
    width: 180px !important;
}

#search-button {
    padding: 10px;
}

#search-button:hover {
    cursor: pointer;
}

.input-form {
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    height: 35px;
    width: 300px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 15px;
    background-color: #ffffff;
    appearance: none !important;
}

#main-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

/* Main Content*/
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#search-results-container {
    display: flex;
    height: auto;
}

#search-results-container p {
    padding: 18px 0;
    font-size: 24px;
    margin: 0 auto;
}

.main-page {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;
}

#images-container {
    display: block;
    width: 100%;
    column-count: 7;
    column-gap: 0px;
    line-height: 0;
    padding: 0 2px;
    background: #f2f2f2;
}

#images-container img {
    width: 100% !important;
    height: auto !important;
    padding: 3px;
    transition: 0.2s;
}

.images-container img:hover {
    cursor: pointer;
    padding: 10px;
}

#home-page {
    display: flex;
    width: auto;
}

#categories-wrap {
    display: block;
    height: auto;
    width: 100%;
}

#categories-container {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 200px;
    grid-gap: 0px;
}

.home-category-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.home-category-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    background: rgba(26, 26, 26, .3);
    color: #ffffff;
}

#recent-page {
    display: none;
}

.test-form {
    display: flex;
    flex-direction: column;
}

#modal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .8;
    position: absolute;
    color: #f2f2f2;
    justify-content: center;
    align-items: center;
}

#modal-inner {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    color: #f2f2f2;
    justify-content: center;
    align-items: center;
}

#inner-image-container {
    height: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
}

#modal-image {
    max-width: 800px;
    padding: 5px 30px;
}

#close-modal {
    color: #f2f2f2;
    font-size: 30px;
}

#close-modal:hover {
    cursor: pointer;
}

#upload-modal {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    align-items: center;
}

#upload-outer-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

#upload-modal-header {
    display: flex;
    height: 70px;
    width: 100%;
}

#header-upload-left {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 35px;
    justify-content: flex-start;
    font-size: 20px;
}

#header-upload-left:hover {
    cursor: default;
}

#header-upload-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

#close-upload-modal {
    font-size: 22px;
    margin: 0px 25px;
}

#close-upload-modal:hover {
    cursor: pointer;
}

#upload-content {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
}

#upload-content h3 {
    padding: 12px 0;
}

#upload-choose-category {
    display: flex;
}

#upload-choose-category:hover {
    cursor: pointer;
}

#upload-category-left {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    color: #b3b3b3;
}

#upload-category-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    color: #b3b3b3;
}

#upload-categories-drop-menu {
    display: none;
    width: 300px;
    height: auto;
    border: 1px solid #cccccc;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 5px 0;
}

.upload-category-item {
    width: 100%;
    padding: 7px 10px;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
    transition: 0.2s;
}

.upload-category-item:hover {
    cursor: pointer;
}

.upload-categories-drop-menu-display {
    display: grid !important;
}

.fa-angle-down {
    color:#b3b3b3 !important;
}

#upload-choose-tags {
    display: flex;
}

#upload-choose-tags:hover {
    cursor: pointer;
}

#upload-tags-left {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    color: #b3b3b3;
}

#upload-tags-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    color: #b3b3b3;
}

#upload-tags-drop-menu {
    display: none;
    width: 300px;
    height: auto;
    border: 1px solid #cccccc;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 5px 0;
}

.upload-tags-item {
    width: 100%;
    padding: 7px 10px;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
    transition: 0.2s;
}

.upload-tags-item:hover {
    cursor: pointer;
}

#submit-image {
    width: 150px;
    height: 40px;
    margin-top: 25px;
    background: #287428;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    color: #f2f2f2;
}

#submit-image:hover {
    animation: rainbow 2s infinite;
}
/*
@keyframes rainbow {
    0%{background: red}
    17%{background: orange}
    34%{background: yellow}
    51%{background: green}
    68%{background: blue}
    85%{background: purple}
    100%{background: violet}
}
*/
#image-info {
    display: flex;
    align-items: center;
    height: 25px;
    width: 100%;
    padding: 15px 30px;
    justify-content: flex-end;
}

#image-info p, #image-info i {
    color: #f2f2f2;
}

#image-info p:hover, #image-info i:hover {
    cursor: pointer;
}

#image-size {
    flex: 1;
    text-align: left;
}

#footer {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #262626;
}

.dark-mode {
    background-color: #1a1a1a !important;
}

.dark-mode-text {
    color: #f2f2f2;
    border: 0px solid black;
}

/* Slide Menu */
#slide-menu {
    display: none;
    flex-direction: column;
    width: 250px;
    height: 100%;
    align-items: flex-start;
    border-right: 1px solid #d9d9d9;
    position: absolute;
    background: #f2f2f2;
    overflow-y: scroll;
    padding-left: 20px;
}

#slide-menu-categories-wrap {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-left: 22px;
}

.slide-menu-show {
    display: flex !important;
}

.slide-menu-hidden {
    display: none !important;
}

.slide-menu-option {
    width: 100%;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
    transition: 0.2s;
}

#categories-dropdown {
    padding-top: 0 !important;
}

.slide-menu-option:hover {
    cursor: pointer;
}
